.modaljs-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    opacity: 0;
    height: 100vh;
    width: 100vw;
}

.modaljs-modal {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: rgb(247, 247, 247);
    border: none;
    border-radius: 3px;
    min-width: 400px;
    padding: 10px;
    max-width: 80%;
}

.modaljs-ripple {
    border-radius: 50%;
    position: absolute;
    background-color: grey;
    width: 50px;
    height: 50px;
    opacity: 0.5;
}

.modaljs-modal-dark {
    background-color: rgb(36, 36, 40, 1);
    color: white;
}

.modaljs-modal-title {
    -webkit-user-select: none;
    user-select: none;
    font-size: 30px;
    padding: 10px;
    min-height: 30px;
    border-bottom: 1px solid grey;
}

.modaljs-modal-body {
    font-size: 20px;
    padding: 10px;
    border-bottom: 1px solid grey;
    min-height: 100px;
    color: rgb(73, 73, 73);
    max-height: 50vh;
    overflow-y: auto;
}

.modaljs-modal-body-dark {
    font-size: 20px;
    padding: 10px;
    border-bottom: 1px solid grey;
    min-height: 100px;
    color: white;
    max-height: 50vh;
    overflow-y: auto;
}

.modaljs-modal-button {
    padding: 10px;
    min-height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.modaljs-btn {
    position: relative;
    padding: 10px;
    font-size: 15px;
    font-weight: 600;
    border: none;
    outline: none;
    border-radius: 2px;
    transition: all 325ms;
    cursor: pointer;
    margin-left: 10px;
    overflow: hidden;
}

.modaljs-close-btn {
    color: rgb(255, 45, 45);
}

.modaljs-close-btn-dark {
    background: #303030;
}

.modaljs-close-btn:hover {
    background-color: rgb(247, 207, 207);
}

.modaljs-close-btn-dark:hover {
    background-color: rgb(82 42 42);
}

.modaljs-btn-red {
    color: rgb(255, 45, 45);
}

.modaljs-btn-red-dark {
    background: #303030;
}

.modaljs-btn-red:hover {
    background-color: rgb(247, 207, 207);
}

.modaljs-btn-red-dark:hover {
    background-color: rgb(82 42 42);
}

.modaljs-btn-green {
    color: #28b32f;
}

.modaljs-btn-green-dark {
    background: #303030;
}

.modaljs-btn-green:hover {
    background-color: rgb(198, 255, 196);
}

.modaljs-btn-green-dark:hover {
    background-color: rgb(54 72 53);
}

.modaljs-btn-yellow {
    color: rgb(199, 199, 0);
}

.modaljs-btn-yellow-dark {
    background: #303030;
}

.modaljs-btn-yellow:hover {
    background-color: rgb(247, 255, 173);
}

.modaljs-btn-yellow-dark:hover {
    background-color: rgb(64 66 43);
}

.modaljs-btn-blue {
    color: rgb(38, 14, 255);
}

.modaljs-btn-blue-dark {
    background: #303030;
}

.modaljs-btn-blue:hover {
    background-color: rgb(211, 203, 253);
}

.modaljs-btn-blue-dark:hover {
    background-color: rgb(35 31 56);
}

@keyframes modaljs-overlay-show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes modaljs-modal-show {
    0% {
        transform: scale(0.7);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes modaljs-overlay-hide {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes modaljs-modal-hide {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(0.7);
        opacity: 0;
    }
}

@keyframes modaljs-ripple {
    0% {
        transform: scale(0);
        opacity: 0.5;
    }

    100% {
        transform: scale(3);
        opacity: 0;
    }
}

@media only screen and (max-width:550px) {
    .modaljs-modal {
        width: 80%;
        min-width: 0px;
    }
}

@media only screen and (max-width:400px) {
    .modaljs-modal {
        max-width: unset;
        width: 90%;
        min-width: 0px;
    }

    .modaljs-btn {
        padding: 7px;
        margin-left: 7px;
    }
    .modaljs-modal-button{
        min-height: unset;
    }
}